.DS_Store
.idea
*.log
tmp/
__pycache__/

.env.secrets
.*.env
opal/
weave/
*.service
*_util.sh
*.docker-compose.json
*_deployment_manifest.json
jupyter_mounts/
out.json
access.json
*.crt
*.key
.env.secrets
kubernetes/jupyterhub-conf-dir.tar
*.pyc
jupyterhub-conf-dir.tar
dockerconfig.json

docker-compose/access_logs/keycloak/*
docker-compose/access_logs/traefik/*
.vscode/
