.DS_Store
.idea
*.log
tmp/
__pycache__/

.env.secrets
.*.env
opal/
*.service
*_util.sh
*.docker-compose.json
*_deployment_manifest.json
out.json
*.crt
*.key
.env.secrets
kubernetes/jupyterhub-conf-dir.tar
*.pyc
jupyterhub-conf-dir.tar
dockerconfig.json
